@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Sunshiney&display=swap');


:root {
    --color-primary: #211C84;
    --color-secondary: #7077db;
    --color-tertiary: #7A73D1;
    --color-button: #2235a3;
    --color-button-hover: #A1E3F9;
    --color-text: #000000;
    --color-white: #FFFFFF;
    

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}


.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}


.main-title {
    font-size: 180px;
    font-family: "Sunshiney";
    font-weight: 900;
    color: var(--color-white);
}

.section-title {
    font-family: "Lovers Quarrel", serif;
    font-size: 100px;
    font-weight: 400;
    color: var(--color-text);
    margin: 50px 0;
    text-align: center;
}


.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 36px;
    font-family: "Sunshiney", serif;
}

.button-container {
    width: 300px;
    justify-content: center;
}


.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 36px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Sunshiney", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


button {
    padding: 15px 30px;
    font-family: "Sunshiney", serif;
    font-size: 36px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 50px 25px 0;
}

.button-add:hover {
    background-color: #260b66;
}


ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Lovers Quarrel", serif;
    font-size: 80px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #c72e99ce;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}


.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 50px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 36px;
}

.button-draw img {
    margin-right: 100px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);

}
.por{
    font-size: 36px;
    font-family: "Sunshiney", serif;
    color: #383638ce;
    margin: 200px 0;
    text-align: center;
}

